.ml_container{
    max-width: 550px;
    width: 100%;
    padding: 40px;
    background-color: var(--kangar-white);
    border-radius: 20px;
    position: relative;
    border: solid 1px var(--outside-blue);
    box-sizing: border-box;

}